<h2>Book detail</h2>

<table class='table'>

  <tr>
    <td><%= image_tag 'sample-author1.jpg' %></br>
    <%= @book.user.name %></td>
    <td><%= @book.title %></td>
    <td><%= @book.body %></td>
    <td>Edit</td>
    <td>
      <% if @book.user == current_user %>
         <%= link_to "削除", book_path(@book), method: :delete %>
      <% end %>
    </td>
  </tr>

</table>