<% flash.each do |key, value| %>
    <p id="notice">
      <%= value %>
    </p>
<% end %>

<h2>Book detail</h2>

<table class='table'>

  <tr>
    <td><%= image_tag 'sample-author1.jpg' %></br>
    <%= @book.user.name %></td>
    <td><%= @book.title %></td>
    <td><%= @book.body %></td>
    <td>
      <% if @book.user == current_user %>
         <%= link_to "Edit", edit_book_path %>
      <% end %>
    </td>
    <td>
      <% if @book.user == current_user %>
         <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に削除しますか？" %>
      <% end %>
    </td>
  </tr>

</table>