<% flash.each do |key, value| %>
    <p id="notice">
      <%= value %>
    </p>
<% end %>

<%= render 'form', book_new: @book_new %>

<h2>Book detail</h2>

<table class='table'>

  <tr>
    <td>
      <%= image_tag @book.user.get_profile_image(100,100) %></br>
      <%= link_to @book.user do %>
        <%= @book.user.name %>
      <% end %>
    </td>
    <td><%= @book.title %></td>
    <td><%= @book.body %></td>
    <td>
      <% if @book.user == current_user %>
         <%= link_to "Edit", edit_book_path %>
      <% end %>
    </td>
    <td>
      <% if @book.user == current_user %>
         <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に削除しますか？" %>
      <% end %>
    </td>
  </tr>

</table>